.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  margin-bottom: 5px;
}

.buttons a {
  margin-top: 5px;
}
